<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ระบบจำหน่ายเค้ก</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ระบบจำหน่ายอาหาร</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">หน้าแรก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">อาหาร</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">โปรโมรชั่น</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">วิธีสั่งซื้ออาหาร</a>
                    </li>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">ค้นหา</button>
                </form>
            </div>
        </div>
    </nav>

    <img src="images/JAV.jpg" alt="ป้ายโลโก้" style="width: 100%; height : 350px">
    <div class="container-fluid">
    <table class="table">
  <thead>
    <tr>
     <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Picture</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <th scope="row">1</th>
      <td><img src="images/อาหาร2.jpg" ciass="img-fluid" ait="..." style="width: 150px; height:150px"></td>
      <td><img src="images/อาหาร3.jpg" ciass="img-fluid" ait="..." style="width: 150px; height:150px"></td>
      <td><img src="images/อาหาร4.jpg" ciass="img-fluid" ait="..." style="width: 150px; height:150px"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><img src="images/อาหาร5.jpg" ciass="img-fluid" ait="..." style="width: 150px; height:150px"></td>
      <td><img src="images/อาหาร6.jpg" ciass="img-fluid" ait="..." style="width: 150px; height:150px"></td>
      <td><img src="images/อาหาร7.jpg" ciass="img-fluid" ait="..." style="width: 150px; height:150px"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><img src="images/อาหาร8.jpg" ciass="img-fluid" ait="..." style="width: 150px; height:150px"></td>
      <td><img src="images/อาหาร9.jpg" ciass="img-fluid" ait="..." style="width: 150px; height:150px"></td>
      <td><img src="images/อาหาร10.jpg" ciass="img-fluid" ait="..." style="width: 150px; height:150px"></td>
    </tr>
  </tbody>
</table>
</body>

</html>